<h1>Edit post <%= @post.name %></h1>
<h2>Post content: <%= @post.content %></h2>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">
  Post name: <input type="text" name="name"><br>
  Post content: <input type="text" name="content"><br>
  <input type="submit" value="submit">
</form>
