<%= @post.name %><br>
<%= @post.content %><br>
<form action='/posts/<%= @post.id %>/delete' method='post'>
  <input type="hidden" name="_method" value="delete" id="hidden">
  <input type="submit" value="delete">
</form>
